# Horse Racing Project

### Part 1: Create Dataset

This is Part 1 of a project where I create the dataset containing selected features of horse racing at Warsaw's Sluzewiec Track, which dates back to 1995 and contains all of the results history up to 2018. The data is collected from https://koniewyscigowe.pl. 

In Part 2 I will attempt to perform Exploratory Data Analysis on this dataset.

In [1]:
## Importing necessary modules
import numpy as np
import pandas as pd
import re # regular expressions
import csv # working with CSV
from bs4 import BeautifulSoup, SoupStrainer # for html objects
import time # time the code
import string
import httplib2 # html parser
pd.set_option('display.max_columns', 500) ## to see all the columns
pd.set_option('display.max_rows', 500) ## To see all the rows
import string

## Horses data frame

The horses are listed on a web page in alphabetical order. We need to loop through every letter to scrap all the horses IDs and names. The links are the only thing that is interesting at this step, as they contain the information that will be used in further process.

In [2]:
%%time
horses = [] # create empty list
it = 0
size = len(list(string.ascii_uppercase))-1
for letter in list(string.ascii_uppercase):
    
    # Loop through every letter and find the links
    http = httplib2.Http()
    status, response = http.request('https://koniewyscigowe.pl/spis_koni_wyscigowych?l='+letter)
    for link in BeautifulSoup(response, 'html.parser', parse_only=SoupStrainer('a')):
        if link.has_attr('href'):
            if (re.findall(r'\b'+'horse'+r'\b',link['href'])):
                horses.append(link['href'])
                          
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1
print('\n')

[####################################################################################################]100.00%

Wall time: 11.8 s

The progress bar shows the percentage of how many more letters are left to process. The duration of the running code is timed and presented at the end.

We can check how many link were found in the process and show for reference the first 10 of them:

In [3]:
len(horses)

17396

In [4]:
horses[0:10]

['/horse/20899-a-dee-joe',
 '/horse/12327-a-lot-of-mary',
 '/horse/20588-a-nihala',
 '/horse/23514-aaren-al-khalediah',
 '/horse/21448-alatune',
 '/horse/4655-af-pompey',
 '/horse/13166-aaran',
 '/horse/354-ababy',
 '/horse/12892-abadan',
 '/horse/4480-abakan']

### Horses names
The names of the horses are assigned by splitting them from the previous step:

In [5]:
%%time
names = [] # create an empty list
for i in range(0,len(horses)):
    name = ''
    temp = horses[i].split('-')
    horses[i] = temp[0]
    if len(temp)>1:
        for j in range(1,len(temp)):
            name += temp[j]+' '
    names.append(name[0:-1].title())

Wall time: 28 ms

In [6]:
len(names)

17396

In [7]:
names[0:10]

['A Dee Joe',
 'A Lot Of Mary',
 'A Nihala',
 'Aaren Al Khalediah',
 'Alatune',
 'Af Pompey',
 'Aaran',
 'Ababy',
 'Abadan',
 'Abakan']

The length is the same as the length of the horses list as expected, and the first ten names are shown for reference.

Based on the links we previously found we can perform the web scraping process to acquire more information about the horses. We check what kind of information we have on the webpage https://koniewyscigowe.pl.

For exploratory purposes we use the horse with the ID number of 23514 and named Aaren al Khalediah. The al Khalediah horses are well known at Sluzewiec, there are many of them and with great results.

In [8]:
r = pd.read_html('https://koniewyscigowe.pl'+'/horse/23514-aaren-al-khalediah')

In [9]:
r[0][0]

0     Kasztanowaty ogier ur. 28.04.2015 (4 lata)
1                                          Rasa:
2                                   Pochodzenie:
3                                        Ojciec:
4                                         Matka:
5                                        Trener:
6                                    Właściciel:
7                                       Hodowca:
8                                       Wymiary:
9                                       Stajnia:
10                                          suma
Name: 0, dtype: object

In [10]:
# The information about: color, gender, date of birth, age
r[0][0][0]

'Kasztanowaty ogier ur. 28.04.2015 (4 lata)'

In [11]:
# The information about: breed
r[0][1][1]

'Czysta krew arabska'

In [12]:
# The information about: country of origin
r[0][1][2]

'Francja'

In [13]:
# The information about: father
r[0][1][3]

'Nayef Al Khalidiah'

In [14]:
# The information about: mother
r[0][1][4]

'Shaza Al Khalediah / Khalid El Biwaibiya'

In [15]:
# The information about: trainer
r[0][1][5]

'M. Kacprzyk'

In [16]:
# The information about: owner
r[0][1][6]

'Polska AKF Sp. z o.o.'

In [17]:
# The information about: breeder
r[0][1][7]

'Al Khalediah Stables'

In [18]:
# The information about: size (the dimensions are explained later)
r[0][1][8]

'154.0-179.0-18.50'

In [19]:
# The information about: stables
r[0][1][9]

'Polska AKF Sp. z o.o.'

Based on this information we can think of how we want our data frame to look like. The information about the color and gender of the horse, its age, breed, country of origin, parents, the person who is responsible for the training, owner, breeder, stables and size can be the features which describe the horse. With that information we can build the data frame.

### Create the Horses Data Frame
With the available information we build the first data frame for horses.

In [20]:
horses_DF = pd.DataFrame(columns = ['id_name', 'gender_age', 'breed', 'country',
                                   'father', 'mother', 'trainer', 'owner', 
                                   'breeder', 'size', 'stables'])
horses_DF

Empty DataFrame
Columns: [id_name, gender_age, breed, country, father, mother, trainer, owner, breeder, size, stables]
Index: []

We then fill the data frame:

In [ ]:
%%time
#it = 0
size = len(horses)
r = []
for i in range(0,size):
    r = pd.read_html('https://koniewyscigowe.pl'+horses[i])
    horses_DF.at[i,'id_name'] = horses[i]
    horses_DF.at[i,'gender_age'] = r[0][0][0]
    for j in range(1,10):
        if r[0][0][j] == 'Rasa:':
            horses_DF.at[i,'breed'] = r[0][1][j]
        if r[0][0][j] == 'Pochodzenie:':
            horses_DF.at[i,'country'] = r[0][1][j]
        if r[0][0][j] == 'Ojciec:':
            horses_DF.at[i,'father'] = r[0][1][j]
        if r[0][0][j] == 'Matka:':
            horses_DF.at[i,'mother'] = r[0][1][j]
        if r[0][0][j] == 'Trener:':
            horses_DF.at[i,'trainer'] = r[0][1][j]
        if r[0][0][j] == 'Właściciel:':
            horses_DF.at[i,'owner'] = r[0][1][j]
        if r[0][0][j] == 'Hodowca:':
            horses_DF.at[i,'breeder'] = r[0][1][j]
        if r[0][0][j] == 'Wymiary:':
            horses_DF.at[i,'size'] = r[0][1][j]
        if r[0][0][j] == 'Stajnia:':
            horses_DF.at[i,'stables'] = r[0][1][j]
    
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1
print('\n')
print('Time: ')

For some reason the webpage for horse with id 5011 is generating an internal error.
Try: https://koniewyscigowe.pl/horse/5011.
This record will be removed from the data frame.

The id_name column needs to be sorted out and divided into id and name, the gender_age feature needs to be divided into separate columns. Some data is in Polish like: breed, country, trainer, gender, color, and needs to be translated.

Let's get to work:

Delete the unnecessary part of the id_name data. The length of the '/horse/' is always 7 characters long and we remove this part:

In [ ]:
for i in range(0,len(horses_DF)):
    horses_DF['id_name'].iloc[i] = horses_DF['id_name'].iloc[i][7:]

In [ ]:
horses_DF.head(2)

### Names:

We create new column with the horses names information based on the data we collected before:

In [ ]:
horses_DF['name'] = names

In [ ]:
horses_DF.head(2)

And export the results:

In [ ]:
horses_DF.to_csv(r'.\horses_data\horses_DF.csv', encoding="utf-8")

### Breeds and countries:

Let's check how many different breeds and countries exist in the data frame:

In [23]:
len(horses_DF.groupby('breed').sum())

9

In [24]:
len(horses_DF.groupby('country').sum())

35

### Date of birth - horse age

The horse age comes from the gender_age data. We are interested only in the year of the birth, that is way we search for a 4 digit sequence in the gender_age data and append to the age list.

In [ ]:
%%time
age = []
for i in range(0,len(horses_DF)):
    ke_ = re.findall(r'\d{4}',str(horses_DF['gender_age'].iloc[i]))
    age.append(ke_)

Assign the age list to the date of birth `dob` column:

In [ ]:
horses_DF['dob'] = age

Check the results and export to csv file:

In [ ]:
horses_DF.head(2)

In [ ]:
horses_DF.to_csv(r'.\horses_data\horses_DF.csv', encoding="utf-8")

Some more cleaning is needed:

In [ ]:
%%time
for i in range(0,len(horses_DF)):
    if horses_DF['dob'][i]:
        horses_DF['dob'][i] = horses_DF['dob'][i][2:6]

And the count of the horses based on date of birth is shown:

In [26]:
horses_DF.groupby('dob').count()

,Unnamed: 0,id_name,breed,country,father,mother,trainer,owner,breeder,size,stables,name,gender,color
dob,,,,,,,,,,,,,,
1986.0,2,2,2,2,2,2,2,2,2,1,2,2,2,2
1987.0,1,1,1,1,1,1,1,1,1,0,1,1,1,1
1988.0,7,7,7,7,7,7,7,7,7,7,7,7,7,7
1989.0,12,12,12,12,12,12,12,12,12,10,12,12,12,12
1990.0,64,64,64,64,64,64,64,64,64,58,64,64,64,64
1991.0,168,168,168,168,168,168,168,168,168,157,168,168,168,168
1992.0,485,485,485,485,485,485,485,485,485,382,484,485,485,485
1993.0,606,606,606,606,606,606,606,606,606,561,606,606,606,606
1994.0,642,642,642,642,642,642,642,642,642,488,640,642,642,642
1995.0,688,688,688,688,688,688,688,688,688,600,683,688,688,688
1996.0,701,701,701,701,701,701,701,701,701,552,696,701,701,701
1997.0,698,698,698,698,698,698,698,698,698,601,691,698,698,698
1998.0,737,737,737,737,737,737,737,737,737,586,731,737,737,737
1999.0,677,677,677,677,677,677,677,677,677,598,674,677,677,677
2000.0,705,705,705,705,705,705,705,705,705,607,700,705,705,705
2001.0,723,723,723,723,723,723,723,723,723,632,722,723,723,723
2002.0,678,678,678,678,678,678,678,678,678,598,678,678,678,678
2003.0,654,654,654,654,654,654,654,654,654,575,654,654,654,654
2004.0,682,682,682,682,682,682,682,682,682,567,679,682,682,682
2005.0,715,715,715,715,715,715,715,715,715,604,704,715,715,715
2006.0,744,744,744,744,744,744,744,744,744,612,738,744,744,744
2007.0,761,761,761,761,761,761,761,761,761,639,759,761,761,761
2008.0,794,794,794,794,794,794,794,794,794,638,793,794,794,794
2009.0,786,786,786,786,786,786,786,786,786,510,786,786,786,786
2010.0,662,662,662,662,662,662,662,662,662,289,662,662,662,662
2011.0,674,674,674,674,674,674,674,674,674,427,674,674,674,674
2012.0,621,621,621,621,621,621,621,621,621,221,621,621,621,621
2013.0,610,610,610,610,610,610,610,610,610,16,610,610,610,610
2014.0,632,632,632,632,632,632,632,632,632,223,630,632,632,632
2015.0,605,605,605,605,605,605,605,605,605,380,605,605,605,605
2016.0,605,605,605,605,605,605,605,605,605,441,603,605,605,605
2017.0,256,256,256,256,256,256,256,256,256,210,256,256,256,256

### Gender
There are 3 distinguished gender categories:
- mare - female horse
- gelding - castrated male horse
- stallion - uncastrated male horse

The Polish names of the gender are translated into English and appended to the gender list:

In [ ]:
%%time
gender = []
for i in range(0,len(horses_DF)):
    if pd.isnull(horses_DF['gender_age'].iloc[i]):
        gender.append('')
        continue
    if 'klacz' in horses_DF['gender_age'].iloc[i]: 
        gender.append('mare')
    if 'wałach' in horses_DF['gender_age'].iloc[i]:
        gender.append('gelding')
    if 'ogier' in horses_DF['gender_age'].iloc[i]:
        gender.append('stallion')

One of the records is empty and need to be dealt with:

In [ ]:
pd.isnull(horses_DF['gender_age'].iloc[9295])

The length of the list is correct and can be added to data frame at column `gender`:

In [ ]:
len(gender)

In [ ]:
horses_DF['gender'] = gender

In [ ]:
horses_DF.head(2)

### Color
The most popular horse colors are:
- chestnut 
- gray
- bay
- black
- darkbay

And are assigned to each horse based on translation from Polish. Again Polish language is beautiful, so the name of the color differs for female and male horses.
If the horse has different color it would be 'not defined'.

In [ ]:
%%time
color = []
for i in range(0,len(horses_DF)):
    if pd.isnull(horses_DF['gender_age'].iloc[i]):
        print('?')
        color.append('')
        continue
    if ('Kasztanowaty' in horses_DF['gender_age'].iloc[i]) or ('Kasztanowata' in horses_DF['gender_age'].iloc[i]): 
        print('chestnut')
        color.append('chestnut')
        continue
    if ('Siwy' in horses_DF['gender_age'].iloc[i]) or ('Siwa' in horses_DF['gender_age'].iloc[i]): 
        print('gray')
        color.append('gray')
        continue
    if ('Gniady' in horses_DF['gender_age'].iloc[i]) or ('Gniada' in horses_DF['gender_age'].iloc[i]): 
        print('bay')
        color.append('bay')
        continue
    if ('Kary' in horses_DF['gender_age'].iloc[i]) or ('Kara' in horses_DF['gender_age'].iloc[i]): 
        print('black')
        color.append('black')
        continue
    if ('Ciemnogniady' in horses_DF['gender_age'].iloc[i]) or ('Ciemnogniada' in horses_DF['gender_age'].iloc[i]): 
        print('darkbay')
        color.append('darkbay')
        continue
    else:
        print(i,'inny')
        color.append('not_defined')

Let's see how many different color we have:

In [ ]:
list(set(color))

The length of the list is correct and can be added to data frame at column `color` and exported to csv file:

In [ ]:
len(color)

In [ ]:
horses_DF['color'] = color

The column `gender_age` is no longer needed, so we drop this column from data frame:

In [ ]:
horses_DF = horses_DF.drop('gender_age',axis=1)

In [ ]:
horses_DF.head(3)

In [ ]:
horses_DF.to_csv(r'.\horses_data\horses_DF.csv', encoding="utf-8")

### Country:
We use the package ***googletrans*** downloaded from the internet to translate the country of origin name into English.

In [28]:
# The translation is needed in case of some of the data
# Example
from googletrans import Translator
translator = Translator()

tl = translator.translate('Stany Zjednoczone.')

In [29]:
tl.text

'United States.'

The most popular country of origin is Poland, so instead of translation it is faster to assign it straightaway. And the rest of the countries are translated by the ***googletrans*** package into English:

*There is a problem with this method and the internet connection. When `JSONDecodeError: Expecting value: line 1 column 1 (char 0)` reset the internet connection.

In [ ]:
%%time
for i in range(0,len(horses_DF)):
    if horses_DF['country'].iloc[i]:
        if horses_DF['country'].iloc[i] == 'Polska':
            horses_DF['country'].iloc[i] = 'Poland'
        else:
            horses_DF['country'].iloc[i] = translator.translate(horses_DF['country'].iloc[i]).text

Export the data frame:

In [ ]:
horses_DF.to_csv(r'.\horses_data\horses_DF.csv', encoding="utf-8")

### Breed
Let's check all types of breeds that exist in scraped data:

In [ ]:
# All types of breed:
horses_DF.groupby('breed').sum()

Based on that information we have breeds:
- Pure blood Arabian
- Pure blood Anglo-Arabian
- Half blood Anglo-Arabian
- Pure blood English
- Half blood English
- Noble halfblood
- French trotter
- Polish breed - Malopolska
- Polish breed - Wielkopolska
- Polish breed - Slaska

In [ ]:
for i in range(0,len(horses_DF)):
    print(i)
    if pd.isnull(horses_DF['breed'].iloc[i]):
        continue
    if 'Czysta krew angloarabska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Pure blood Anglo-Arabian'
        continue
    if 'arabska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Pure blood Arabian'
        continue
    if 'francuski' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'French trotter'
        continue
    if 'Małopolska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Polish breed - Malopolska'
        continue
    if 'Pełna krew angielska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Pure blood English'
        continue
    if 'Półkrew angielska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Half blood English'
        continue
    if 'Półkrew angloarabska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Half blood Anglo-Arabian'
        continue
    if 'Szlachetna' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Noble half blood'
        continue
    if 'Wielkopolska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Polish breed - Wielkopolska'
        continue
    if 'śląska' in horses_DF['breed'].iloc[i]:
        horses_DF['breed'].iloc[i] = 'Polish breed - Slaska'
        continue
    else:
        continue

The horses_DF data frame is updated in the process.

### Trainer
Most of the horses in the data frame are not racing in the 2019 season, which is currently open. Those are not having any trainer for present season and are listed as 'Not in 2019'. For those racing in 2019 season the name of the trainer is provided.

In [ ]:
for i in range(0,len(horses_DF)):
    print(i)
    if pd.isnull(horses_DF['trainer'].iloc[i]):
        continue
    if 'koń nie zgłoszony do sezonu 2019' in horses_DF['trainer'].iloc[i]:
        horses_DF['trainer'].iloc[i] = 'Not in 2019'
        continue
    else:
        continue

The final data frame is presented and exported to the csv file.

In [32]:
horses_DF.head(2)

,Unnamed: 0,id_name,breed,country,father,mother,trainer,owner,breeder,size,stables,name,dob,gender,color
0,0,20899,Pure blood English,France,"Johannesburg (USA, 1999)","A Dee Double You (USA, 2000) / Red Ransom",Not in 2019,Lokotrans,Haras de Bernesq,NaN,Lokotrans,A Dee Joe,2010.0,gelding,chestnut
1,1,12327,Pure blood English,United States,"Clever Champ (USA, 1982)","Mary Had a Lot (USA, 1985) / Double Zeus",Not in 2019,R. Rutkowski,A. H. Cunningham,NaN,Mutowo,A Lot Of Mary,1995.0,mare,darkbay

### Export the dataframe horses_DF to csv file:

In [ ]:
horses_DF.to_csv(r'.\horses_data\horses_DF.csv', encoding="utf-8")

### Import the dataframe horses_DF from csv file:

In [33]:
horses_DF = pd.read_csv(r'.\horses_data\horses_DF.csv',encoding="utf-8")

When exporting and importing the data frame the duplicate columns form, which can be deleted by:

In [ ]:
horses_DF = horses_DF.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1)

In [25]:
horses_DF.head(2)

,Unnamed: 0,id_name,breed,country,father,mother,trainer,owner,breeder,size,stables,name,dob,gender,color
0,0,20899,Pure blood English,France,"Johannesburg (USA, 1999)","A Dee Double You (USA, 2000) / Red Ransom",Not in 2019,Lokotrans,Haras de Bernesq,NaN,Lokotrans,A Dee Joe,2010.0,gelding,chestnut
1,1,12327,Pure blood English,United States,"Clever Champ (USA, 1982)","Mary Had a Lot (USA, 1985) / Double Zeus",Not in 2019,R. Rutkowski,A. H. Cunningham,NaN,Mutowo,A Lot Of Mary,1995.0,mare,darkbay

The final horses_DF data frame includes features:
- `id_name` : the horse id number 
- `breed` : the breed of the horse (10 breeds in total)
- `country` : the horse country of origin
- `father` : the horse father
- `mother` : the horse mother
- `trainer` : the name of the horse trainer when racing in 2019 season
- `owner` : the name of the person or stables that own the horse
- `breeder` : the name of the person or stables that breeded the horse
- `size` : the size of the horse if provided (height of the horse at the withers - chest circumference - circumference of the left leg above the furrow)
- `stables` : the horse stables
- `name` : the horse name
- `dob` : the horse date of birth (year)
- `gender` : the horse gender (3 genders)
- `color` : the horse color (5 colors in total)

---

## Results data frame
The results data frame will contain information about all the races through years 1995 and 2018, which covers 23 years of racing. This year (2019) the Suzewiec track celebrates the 80th anniversary of horse racing history, but only data from 1995 is available publicly.

The results are collected from 'https://koniewyscigowe.pl/wyniki_gonitw' and are divided accordingly to the city where the races took place. The numbers 1, 2, 3, 4 and 5 correspond to cities Warsaw, Wroclaw, Sopot, Stawiguda and Krakow. We are only interested for now in the results from Warsaw Sluzeiwec track. We need to loop through every season to scrap all the link with the race IDs. The links are the only thing that is interesting at this step, as they contain the information that will be used in further process.

In [34]:
%%time
it = 0
race = []
size = len(range(1995,2019))-1
for year in range(1995,2019):
    http = httplib2.Http()
    # miasto = 1 - Warszawa
    # miasto = 2 - Wroclaw
    # miasto = 3 - Sopot
    # miasto = 4 - Stawiguda
    # miasto = 5 - Krakow
    status, response = http.request('https://koniewyscigowe.pl/wyniki_gonitw?miasto=1&sezon='+str(year))
    for link in BeautifulSoup(response, 'html.parser', parse_only=SoupStrainer('a')):
        if link.has_attr('href'):
            if (re.findall(r'\b'+'wyscig'+r'\b',link['href'])):
                race.append(link['href'])
                #print(year, len(race))
                          
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1
    
print('\n')

[####################################################################################################]100.00%

Wall time: 19.6 s

We can check how many results we have:

In [35]:
len(race)

26784

Unfortunately each link is doubled, because the number of the race and the date of the race on the webpage both linked to the same webpage for the details of that race. Set will deal with it, as it drop the duplicates:

In [36]:
race[0:7]

['/wyscig?w=13206-tor-służewiec',
 '/wyscig?w=13206-tor-służewiec',
 '/wyscig?w=13207-tor-służewiec',
 '/wyscig?w=13207-tor-służewiec',
 '/wyscig?w=13208-tor-służewiec',
 '/wyscig?w=13208-tor-służewiec',
 '/wyscig?w=13209-tor-służewiec']

In [37]:
race_set = set(race)
len(race_set)

13392

And we are left with the proper length of the results data frame, where the records do not double:

In [38]:
race = list(race_set)
race[0:3]

['/wyscig?w=2258-tor-służewiec',
 '/wyscig?w=756-tor-służewiec',
 '/wyscig?w=15428-tor-służewiec']

The next step will be to explore one of the link from the race list. We choose randomly the id 3620:

In [39]:
r = pd.read_html('https://koniewyscigowe.pl/wyscig?w='+'3620')

The first table contains lot of information:

In [40]:
r[0]

                                                   0
0  Pogodnie, temp. +22°C, tor lekko elastyczny (3.2)
1  Gonitwa dla 3 l. koni czystej krwi arabskiej I...

In [41]:
# The information about the distance, total price for the race, and the race category:
r[0].iloc[1][0]

'Gonitwa dla 3 l. koni czystej krwi arabskiej II grupy. Dystans 1600m •\xa0Pula nagród: 5\xa0950 zł •\xa0Grupa II'

In [42]:
# The information about the temperature and the track elasticity:
r[0].iloc[0][0]

'Pogodnie, temp. +22°C, tor lekko elastyczny (3.2)'

The second table shows the detailed information about final standing, the lengths at the finishing line, the horse, its age, the jockey, the jockeys weights, trainers and individual prices:

In [46]:
r[1]

,Unnamed: 0,odl.,koń,wiek,jeździec,waga,trener,wygrana
0,1,NaN,Ehud,3,dż. A. Turgaev,58,M. Łojek,3 400 zł
1,2,2½,Bakalia,3,dż. M. Pilich,56,A. Wyrzyk,1 360 zł
2,3,5,Edinet,3,dż. A. Reznikov,58,A. Nieora-Tchkuaseli,680 zł
3,4,3½,Efata,3,dż. W. Szymczuk,56,T. Kluczyński,340 zł
4,5,16,Makat,3,dż. V. Popov,58,B. Ziemiański,170 zł
5,6,6,Saber,3,dż. S. Wasiutow,58,D. Kałuba,0 zł
6,7,12,Bajan,3,k. dż. K. Gembicka,58,D. Kałuba,0 zł
7,8,19,Kahil,3,dż. J. Ochocki,58,T. Kluczyński,0 zł

In [44]:
# The information about the number of horses in the race:
len(r[1])

8

In [45]:
# The information about the winner:
r[1].iloc[0][2]

'Ehud'

The third and final table for this webpage contains more detailed information about the time of the race, style of the race and bets:

In [47]:
r[2]

                                                   0
0  Czas : 1'54.70 • (7.8-36-36.4-34.5) • Styl:wys...
1  ZWC: 3.70 zł • PDK: 51.10 zł • TRJ: 434.20 zł ...

In [48]:
# The information about the time records for the race and race style:
r[2].iloc[0][0]

"Czas : 1'54.70\xa0•\xa0(7.8-36-36.4-34.5)\xa0• Styl:wysyłany"

In [49]:
# The information about the bets:
r[2].iloc[1][0]

'ZWC: 3.70 zł • PDK: 51.10 zł • TRJ: 434.20 zł • CZW: 572.50 zł • TPL: zł • KWN: zł'

For the chosen race we can display the information that is interesting and will be added to the results data frame we are building:

In [50]:
import re
s = r[0].iloc[1][0]
result_dist = re.search('Dystans (.*)m', s)
result_price = re.search('Pula nagród: (.*) zł ', s)
result_cat = re.search('Grupa (.*)', s)
print('Distance: ',result_dist.group(1))
print('Price: ',result_price.group(1).replace('\xa0',''))
print('Category: ',result_cat.group(1))
w = r[0].iloc[0][0]
result_temp = re.search('\+(.*)°C', w)
result_track = re.search('\((.*)\)', w)
print('Temperature: ',result_temp.group(1))
print('Track elasticity: ',result_track.group(1))
result_numb = len(r[1])
print('Number of horses: ',result_numb)
result_win = r[1].iloc[0][2]
print('Winner: ', result_win)
t = r[2].iloc[0][0]
result_time = re.search('Czas : (.*)0\xa0•', t)
print('Time: ',result_time.group(1))
b = r[2].iloc[1][0]
result_bet = re.search('ZWC: (.*) zł • PDK',b)
print('Bet: ',result_bet.group(1))

Distance:  1600
Price:  5950
Category:  II
Temperature:  22
Track elasticity:  3.2
Number of horses:  8
Winner:  Ehud
Time:  1'54.7
Bet:  3.70

This way we created 9 features: `distance`, `price`, `category`, `temperature`, `track elasticity`, ` number of horses`, `winner`, `time` and `bet`.

Date and day of the season:

The information about the date and which day of the season it is, is included in the page title. Previously we were scraping tables and link. Scraping title is different. 
For the same race id 3620 we look for header of type h3 where the information we need is. And from there we get the day of the season and the date of the race.

In [51]:
http = httplib2.Http()
status, response = http.request('https://koniewyscigowe.pl/wyscig?w='+'3620')
bs = BeautifulSoup(response, 'html.parser', parse_only=SoupStrainer('h3'))

In [52]:
bs = str(bs)
bs = bs.split('</h3><h3')
print(bs[0])

<h3 class="g-color-black g-font-weight-600 mb-3">Wynik gonitwy (165) Warszawa - tor Służewiec, Dzień 20 - Niedziela 31 Sierpienia 2008

In [53]:
result_day_date = re.search('Dzień (.*)', bs[0])
result_day_date = result_day_date.group(1).split(' - ')
result_day = result_day_date[0]
result_date = result_day_date[1]
print('Day of season: ', result_day)
print('Date: ', result_date)

Day of season:  20
Date:  Niedziela 31 Sierpienia 2008

And that is it. The day of the season is 20, and the date in in Polish, which will be translated later, when cleaning the data frame.

### Bonus: 
How to find the horse by its name?

In [31]:
# Find a horses by its name
for i in range(0,len(horses_DF)):
    if horses_DF.iloc[i]['name'] == 'Evergonnatouchthis':
         print(i,horses_DF.iloc[i])

6383 Unnamed: 0                      6383
Unnamed: 0.1                    6383
id_name                        20375
breed             Pure blood Arabian
country                       Polska
father          NivourGonnaTouchThis
mother                Elsana / Gafal
trainer                  Not in 2019
owner                    J. Głowacki
breeder                  J. Głowacki
size                             NaN
stables                    Mała Wieś
name              Evergonnatouchthis
dob                             2012
gender                      stallion
color                           gray
Name: 6383, dtype: object

### Create the Results Data Frame
With the available information we build the second data frame for races results.

In [54]:
results_df = pd.DataFrame(columns = ['id_race', 'date', 'day', 'distance', 'category',
                                   'winner', 'number_of_horses', 'price',
                                    'temperature', 'track', 'time', 'bet']) 
results_df

Empty DataFrame
Columns: [id_race, date, day, distance, category, winner, number_of_horses, price, temperature, track, time, bet]
Index: []

### Id
From the previously created race list we want to get just the number. Form the we split the string of the record and save only the number in the previous list.

In [55]:
# Extract id_race
race = list(race_set)
s = race[1]
s

'/wyscig?w=756-tor-służewiec'

In [56]:
race[0:3]

['/wyscig?w=2258-tor-służewiec',
 '/wyscig?w=756-tor-służewiec',
 '/wyscig?w=15428-tor-służewiec']

In [57]:
%%time
for i in range(0,len(race)):
    temp = race[i].split('=')
    temp = temp[1].split('-')
    race[i] = temp[0]

Wall time: 12 ms

In [58]:
race[0:3]

['2258', '756', '15428']

In [59]:
len(race)

13392

The number can be then added to the data frame column `id_race`:

In [60]:
for i in range(0,len(race)):
    results_df.at[i,'id_race'] = race[i]

In [61]:
results_df.head()

,id_race,date,day,distance,category,winner,number_of_horses,price,temperature,track,time,bet
0,2258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Distance, price, category, temperature, track elasticity, number of horses, winner, time, bet, date and day of the season, all added to the Results Data Frame in one loop

In [ ]:
%%time
import re
http = httplib2.Http()

it = 0
size = len(race)

for i in race:
    print(i)
    r = pd.read_html('https://koniewyscigowe.pl/wyscig?w='+str(i))
    
    s = r[0].iloc[1][0]
    #print(s)
    result_dist = re.search('Dystans (.*)m', s)
    result_price = re.search('Pula nagród: (.*) zł ', s)
    result_cat = re.search('Grupa (.*)', s)
    #print('Distance: ',result_dist.group(1))
    #print('Price: ',result_price.group(1).replace('\xa0',''))
    #print('Category: ',result_cat.group(1))
    w = r[0].iloc[0][0]
    #print(w)
    result_temp = re.search('\+(.*)°C', w)
    result_track = re.search('\((.*)\)', w)
    #print('Temperature: ',result_temp.group(1))
    #print('Track elasticity: ',result_track.group(1))
    result_numb = len(r[1])
    #print('Number of horses: ',result_numb)
    result_win = r[1].iloc[0][2]
    #print('Winner: ', result_win)
    t = r[2].iloc[0][0]
    result_time = re.search('Czas : (.*)0\xa0•', t)
    #print('Time: ',result_time.group(1))
    b = r[2].iloc[1][0]
    result_bet = re.search('ZWC: (.*) zł • PDK',b)
    #print('Bet: ',result_bet.group(1))
    
    results_df.at[i,'id_race'] = i
    if result_dist:
        results_df.at[i,'distance'] = result_dist.group(1)
    if result_price:
        results_df.at[i,'price'] = result_price.group(1).replace('\xa0','')
    if result_cat:
        results_df.at[i,'category'] = result_cat.group(1)
    if result_temp:
        results_df.at[i,'temperature'] = result_temp.group(1)
    if result_track:
        results_df.at[i,'track'] = result_track.group(1)
    if result_numb:
        results_df.at[i,'number_of_horses'] = result_numb
    if result_win:
        results_df.at[i,'winner'] = result_win
    if result_time:
        results_df.at[i,'time'] = result_time.group(1)
    if result_bet:
        results_df.at[i,'bet'] = result_bet.group(1)
    
    status, response = http.request('https://koniewyscigowe.pl/wyscig?w='+str(i))
    bs = BeautifulSoup(response, 'html.parser', parse_only=SoupStrainer('h3'))
    
    bs = str(bs)
    bs = bs.split('</h3><h3')
    #print(bs[0])
    
    result_day_date = re.search('Dzień (.*)', bs[0])
    result_day_date = result_day_date.group(1).split(' - ')
    result_day = result_day_date[0]
    result_date = result_day_date[1]
    #print('Day of season: ', result_day)
    #print('Date: ', result_date)
    
    if result_day:
        results_df.at[i,'day'] = result_day
    if result_date:
        results_df.at[i,'date'] = result_date
    
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1

### Cleaning the Results Data Frame and some more information

### Date
To change the date format from : 'Niedziela 27 Września 2009' to : '2009-09-27 00:00:00' for the first record and all the other dates we need to perform an operation. 

The first word in string is a name of the day of the week. Nowadays the races are only on the weekends but apparently back in 1995 and 1996 they had races on Wednesdays. So the first part of the loop translates the name of the day of the week. If different day is submitted the default value of 'Sunday' will be assigned.

The second part of the string is the number of the day. 

The third part of the string is the name of the month. The horse racing season is always between the months of April and November. In Polish there exist different alterations of the names so they are included. 

The forth part of the string is the year of the race. 

After the translation into English, the module ***datetime*** is used to convert into date format.

In [ ]:
from datetime import datetime

for i in range(0,len(results_df)):
    datetime_str = results_df['date'].iloc[i]
    datetime_spl = datetime_str.split(' ')
    # Days: (usually on the weekends)
    if datetime_spl[0] == 'Niedziela':
        datetime_spl[0] = 'Sunday'
    elif datetime_spl[0] == 'Sobota':
        datetime_spl[0] = 'Saturday'
    elif datetime_spl[0] == 'Środa':
        datetime_spl[0] = 'Wednesday'  # apparently back in 1995 and 1996 they had races on Wednesdays
    else:
        datetime_spl[0] = 'Sunday' # default
    # Months: (the races are always between April and November)
    # The Polish language is beautiful and requires different forms of the words
    if datetime_spl[2] == 'Listopada' or datetime_spl[2] == 'Listopad':
        datetime_spl[2] = 'November'
    elif datetime_spl[2] == 'Października' or datetime_spl[2] == 'Październik':
        datetime_spl[2] = 'October'
    elif datetime_spl[2] == 'Września' or datetime_spl[2] == 'Wrzesień':
        datetime_spl[2] = 'September'
    elif datetime_spl[2] == 'Sierpnia' or datetime_spl[2] == 'Sierpień' or datetime_spl[2] == 'Sierpienia':
        datetime_spl[2] = 'August'
    elif datetime_spl[2] == 'Lipca' or datetime_spl[2] == 'Lipiec':
        datetime_spl[2] = 'July'
    elif datetime_spl[2] == 'Czerwca'  or datetime_spl[2] == 'Czerwiec':
        datetime_spl[2] = 'June'
    elif datetime_spl[2] == 'Maja' or datetime_spl[2] == 'Maj':
        datetime_spl[2] = 'May'
    elif datetime_spl[2] == 'Kwietnia' or datetime_spl[2] == 'Kwiecień':
        datetime_spl[2] = 'April'
    else:
        datetime_spl[2] = 'August' # default
    datetime_str = ' '.join(datetime_spl)
   
    results_df['date'].iloc[i] = datetime.strptime(datetime_str, '%A %d %B %Y')

In [68]:
results_df['date'].iloc[0]

'2009-09-27 00:00:00'

Let's check the info for the data frame:

In [69]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13392 entries, 0 to 13391
Data columns (total 15 columns):
Unnamed: 0          13392 non-null int64
Unnamed: 0.1        13392 non-null int64
Unnamed: 0.1.1      13392 non-null int64
id_race             13392 non-null int64
date                13392 non-null object
day                 13392 non-null int64
distance            13392 non-null int64
category            11382 non-null object
winner              13392 non-null object
number_of_horses    13392 non-null int64
price               13391 non-null float64
temperature         13392 non-null object
track               13392 non-null object
time                13392 non-null object
bet                 12008 non-null float64
dtypes: float64(2), int64(7), object(6)
memory usage: 1.5+ MB

Because `temperature`, `track` and `time` are object rather than numeric values we need to convert them.

### Time 
We want to convert the time from string format for example for record 88: "2'10.0" into seconds in this case 130. For that we multiply the minutes with 60 and add the remaining seconds.

In [74]:
results_df['time'].iloc[88]

"2'10.0"

In [75]:
time_spl = results_df['time'].iloc[88].split('\'')
time_spl

['2', '10.0']

In [76]:
time_sec = int(time_spl[0])*60 + float(time_spl[1]) 
time_sec

130.0

### Track

The track score from 0 to 5 for the ground elasticity:
- hard (0.1-1.5) 
- light (1.6-2.5) 
- slightly elastic (2.6-3.2) 
- flexible (3.3-4) 
- very flexible (4.1-5) 
- heavy (over 5)

The track condition is determined before the start of each race day and announced to the public. This does not exclude subsequent modifications when the atmospheric conditions change. There are six basic types of track, which are given in order from the most dry one. Horses run the fastest on the hard dry track, and the slowest on the heavily elastic track. In the case of prolonged drought the track may be hard. Such a condition is very bad for animal health and can cause contusion. The organizers try to avoid this situation and water the track. Immediately after torrential rain the light or slightly elastic track may turn into slippery (no longer dry yet not elastic). In late autumn, when there are frosts, the track may be frozen, and after snowfall - snow-covered. The frozen track is similar to hard, but due to its slipperiness, horses run slower. The snowy track resembles a very flexible, heavy surface.

We simply transform the string value into float. In some cases the data is saved with additional information, which will not work with float method. For that reason all the data longer than 3 characters are deleted for now.

### Temperature
We simply transform the string value into integer. In some cases the data is saved with comma rather then period, which will not work with int method. For that reason we check if the comma exist in the temperature string before the conversion.

The transformation loop for the `track`, `temperature` and `time`:

In [ ]:
%%time
it = 0
size = len(results_df)-1
for i in range(0,len(results_df)):
    # track
    if results_df['track'].iloc[i] and len(results_df['track'].iloc[i])<4:
        results_df['track'].iloc[i] = float(results_df['track'].iloc[i])
    else: 
        results_df['track'].iloc[i] = ' '
    # temperature
    if pd.isnull(results_df['temperature'].iloc[i]) == 0 and ',' not in results_df['temperature'].iloc[i]:
        results_df['temperature'].iloc[i] = int(results_df['temperature'].iloc[i])
    else: 
        results_df['temperature'].iloc[i] = ' '
    # time
    if pd.isnull(results_df['time'].iloc[i]) == 0:
        time_spl = results_df['time'].iloc[i].split('\'')
        results_df['time'].iloc[i] = int(time_spl[0])*60 + float(time_spl[1]) 
    else:
        results_df['time'].iloc[i] = ' '
        
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1

There are some NaN values in the data frame, we do not want them, as they may cause errors when encountered.

In [83]:
results_DF.fillna('')

,id_race,date,day,distance,category,winner,number_of_horses,price,temperature,track,time,bet
0,3144,2009-09-27 00:00:00,44,1600,IV,Salinka,7,4900,22,2.8,99.4,6.6
1,5084,2005-06-12 00:00:00,9,1600,II,Ghazallah,7,3570,16,2.8,111.4,1.8
2,213,2014-07-06 00:00:00,21,3800,,Persei,6,17500,28,1.8,253.1,13.1
3,4391,2007-11-03 00:00:00,48,1600,III,Defa,6,5600,6,3.5,102.5,7.12
4,11883,1997-09-21 00:00:00,58,1600,IV,Aksamit,7,2625,16,2.7,102.4,5.5
5,7126,2003-08-02 00:00:00,30,1400,,Dandolo,10,54250,27,3.5,86.7,7.8
6,8446,2001-09-09 00:00:00,49,1600,IV,Mystery,6,4312,,3.5,104.2,11.65
7,4716,2006-10-08 00:00:00,16,1600,IV,Merlini,7,3060,14,3.5,101.8,
8,9127,2000-07-26 00:00:00,31,1200,IV,Doria Andrea,7,3850,24,3.5,75.2,8.6
9,10214,1999-10-09 00:00:00,70,1800,III,Glorietta,7,3850,11,3.5,131.3,30.1
10,7761,2002-10-12 00:00:00,61,1600,III,Terminal,7,5440,4,3.5,101.5,16.8
11,833,2013-11-16 00:00:00,53,1400,II,Pirelka,10,12600,4,3.8,101.7,213.7
12,9489,2000-11-05 00:00:00,72,1600,II,Plagiat,11,5600,7,3.5,123.4,11.05
13,1884,2011-09-03 00:00:00,37,2000,IV,Socorino,6,5075,20,2.9,125.9,5.5
14,1313,2012-10-21 00:00:00,51,1600,II,Patronus,7,10500,15,3.4,101.9,8.7
15,2422,2010-09-05 00:00:00,36,1800,II,Wigo,10,6150,15,3.0,131.7,9.1
16,5093,2005-06-18 00:00:00,10,1600,II,Magnum,7,3570,16,3.7,115.3,4.2
17,164,2014-06-15 00:00:00,15,2400,,koń,4,7350,14,3.4,,5.2
18,7031,2003-08-09 00:00:00,34,1600,III,Jena,6,5440,24,2.0,101.3,4.2
19,1799,2011-07-31 00:00:00,28,2000,IV,Mumbai,15,5330,21,4.2,146.6,20.7
20,10725,1998-06-07 00:00:00,17,1400,III,Dialekt,8,3850,34,2.0,87.0,5.05
21,5080,2005-06-12 00:00:00,9,1600,,Wiraż,6,7820,16,2.8,117.2,1.4
22,5827,2004-06-09 00:00:00,16,1600,III,Penola,10,3060,20,3.1,114.7,5.2
23,9146,2000-07-30 00:00:00,33,1600,IV,Oberek,5,3850,20,3.5,105.5,20.35
24,3542,2008-08-02 00:00:00,11,1200,II,Age of Jape,7,8225,28,2.4,72.4,2.4
25,2614,2010-11-13 00:00:00,61,1600,IV,Laazim,6,4305,,4.4,119.1,11
26,12630,1996-09-04 00:00:00,51,2000,IV,Otello,6,2275,22,2.7,129.4,2.8
27,87,2014-05-11 00:00:00,6,1600,III,Quinell,6,11550,17,3.2,107.1,7.9
28,16642,2018-10-21 00:00:00,46,1200,III,Rakija,11,12250,13,3.3,76.3,
29,11643,1997-07-06 00:00:00,27,2000,III,Graj z Casinos,9,3675,18,5.0,135.2,1.75
30,11195,1998-10-31 00:00:00,73,1000,II,Da Xian,7,5600,8,3.5,64.2,3.45
31,9530,2000-11-18 00:00:00,77,1400,IV,Nigella,7,3850,8,5.0,92.4,5.5
32,14172,2014-10-12 00:00:00,43,1200,I,Sinbad,7,19250,16,3.2,72.6,22.1
33,10985,1998-09-02 00:00:00,48,1600,II,Nemo,9,4025,17,3.5,118.5,7
34,6538,2003-05-18 00:00:00,7,1400,III,Daza,7,5440,21,3.4,90.2,8.8
35,3253,2009-11-14 00:00:00,57,1600,III,Orbita,7,6475,6,4.4,107.7,12
36,15456,2016-10-22 00:00:00,47,1300,II,Shantaram,11,15750,6,5.2,86.3,23.9
37,3239,2009-11-07 00:00:00,55,1600,IV,Jedynaczka,5,4900,4,4.0,105.6,15.6
38,6870,2003-10-15 00:00:00,60,1800,II,Edin,6,5610,10,4.8,137.8,2.8
39,12413,1996-06-26 00:00:00,24,1800,II,Makiet,6,3675,19,3.5,117.0,1.1
40,13779,1995-10-22 00:00:00,77,1800,II,Dziwerówka,4,3570,12,3.5,117.0,1.7
41,1950,2011-10-01 00:00:00,45,2000,IV,Kwiksle,7,5330,21,2.7,144.4,34.9
42,10166,1999-09-25 00:00:00,63,1600,IV,Glorietta,6,2940,23,3.5,116.9,7.15
43,12911,1996-11-20 00:00:00,87,1000,II,Dżoker,7,3850,10,3.5,65.4,2.15
44,3255,2009-11-14 00:00:00,57,1800,IV,Intruz,7,4900,6,4.4,119.6,4.6
45,4097,2007-06-03 00:00:00,12,1600,III,Laron,9,5600,14,3.3,100.4,4.57
46,11713,1997-07-30 00:00:00,36,1600,II,Destylacja,5,3675,20,3.5,118.0,2.3
47,3610,2008-08-30 00:00:00,19,1400,,Green Maestro,6,31500,17,3.2,85.4,4.3
48,13324,1995-06-03 00:00:00,18,2000,I,Elektor,5,4025,11,3.5,147.5,1.85
49,7345,2002-05-19 00:00:00,10,2000,III,Savoir,6,5440,20,3.5,128.2,3.25
50,1898,2011-09-10 00:00:00,39,1400,II,At One Blow,8,11200,18,2.9,87.7,15.5
51,12016,1997-10-29 00:00:00,74,1600,I,Hebron,6,4375,1,2.7,121.1,4.05
52,348,2013-05-04 00:00:00,3,1400,II,Solo Su,6,15050,16,4.8,89.1,5.2
53,9970,1999-08-01 00:00:00,37,1000,II,Ferrum Rex,7,6475,25,2.0,60.5,2.8
54,8192,2001-06-17 00:00:00,19,1400,III,Enigma,7,5950,,2.0,86.6,5.95
55,4129,2007-06-17 00:00:00,16,2200,,Terebesz,8,15750,24,2.7,138.0,14.33
56,12774,1996-10-12 00:00:00,69,1600,I,Ergo,7,4025,14,2.7,114.0,2.35
57,11111,1998-10-07 00:00:00,63,1300,IV,Blues,6,2800,6,3.5,84.1,6
58,9934,1999-07-21 00:00:00,32,1600,II,Malma,12,4620,25,3.5,116.5,10.35
59,1149,2012-08-19 00:00:00,33,1400,II,Raaga Jam,5,10500,27,2.9,89.6,4.3
60,12718,1996-09-28 00:00:00,62,2200,,Druid,5,17500,14,3.5,161.4,2.1
61,4010,2007-04-28 00:00:00,1,1400,III,Desert Mirage,7,5600,20,2.4,88.3,1.33
62,3738,2008-10-19 00:00:00,34,1600,IV,Liwadia,9,4550,12,3.3,103.2,5.2
63,11535,1997-05-24 00:00:00,14,1600,,Jak Najlepsza,9,21000,14,2.7,98.6,5.4
64,11753,1997-08-15 00:00:00,42,1600,IV,Zdrada,9,2625,25,2.7,101.7,5.55
65,4851,2006-08-03 00:00:00,32,1600,III,Zyxel,7,3060,3,3.9,117.7,2.56
66,6066,2004-08-28 00:00:00,46,1400,IV,Garda,6,3060,20,3.0,88.5,3.9
67,15008,2016-05-21 00:00:00,10,1800,III,Excalibur,9,12250,22,3.0,116.1,4.2
68,1991,2011-10-15 00:00:00,51,2000,II,Penta,6,8200,8,3.2,146.4,85.5
69,3059,2009-08-23 00:00:00,34,1800,II,Ali Gazal La,9,6232,21,3.0,130.3,10.2
70,4077,2007-05-26 00:00:00,9,1600,II,Kristin,7,7700,28,2.8,100.9,5.51
71,7641,2002-09-07 00:00:00,46,2400,,Mamba,8,34000,23,3.5,175.2,3.2
72,5397,2005-10-02 00:00:00,48,1300,III,Diamond Power,7,3570,17,2.9,78.7,2.6
73,1671,2011-05-29 00:00:00,12,1400,III,Lorenc,11,6825,20,3.1,89.9,35.4
74,10703,1998-05-30 00:00:00,14,1800,II,Hipodrom,6,5250,30,2.7,112.1,9.85
75,2355,2010-08-07 00:00:00,28,1300,III,Kalin,7,6125,25,3.9,80.5,4.5
76,7441,2002-06-23 00:00:00,21,1800,I,Shanokk,6,6800,28,3.5,125.6,10.75
77,15510,2016-11-13 00:00:00,54,1200,II,Mary Mont,7,15750,,4.5,78.5,17.2
78,6496,2003-05-03 00:00:00,2,1400,II,Arrabona,7,7480,18,,88.7,3.4
79,8565,2001-10-13 00:00:00,63,1200,II,Lobivia,7,8750,,2.7,76.3,21.8
80,14683,2015-08-29 00:00:00,31,3200,,Gertsoginya,7,17500,,2.5,220.3,14.9
81,5027,2005-05-22 00:00:00,3,1600,III,Moymira,8,3570,22,2.9,100.0,5.7
82,10604,1998-04-04 00:00:00,1,2200,,Fakt,6,6300,16,3.5,163.2,7.55
83,12403,1996-06-22 00:00:00,22,1600,II,Kosmodrom,7,3675,14,3.5,103.5,2.55
84,2915,2009-06-14 00:00:00,16,1300,III,Chrapka,8,6475,20,3.5,82.3,3.5
85,7509,2002-07-27 00:00:00,30,1000,II,Darab,6,7990,27,2.0,60.6,7.5
86,6309,2004-11-13 00:00:00,76,1600,IV,Murawa,8,3060,6,4.0,106.6,6.2
87,10964,1998-08-23 00:00:00,45,1800,III,Panna Loretta,6,3850,19,3.5,115.8,4.3
88,3783,2008-11-08 00:00:00,39,2000,III,Medeo,6,6125,7,3.1,130.0,14.1
89,5981,2004-08-01 00:00:00,36,1400,IV,Alph,4,3060,26,2.9,91.0,14.1
90,3482,2008-07-05 00:00:00,3,1600,,Tecumseh,9,13125,16,3.0,116.0,6.1
91,15086,2016-06-26 00:00:00,19,1800,II,Maprylis,12,11900,32,3.3,135.0,42
92,7867,2002-11-10 00:00:00,74,1800,II,Promyk,7,5610,1,3.5,137.6,11
93,13313,1995-05-28 00:00:00,16,1600,III,Golan,11,2625,29,2.0,115.0,9.4
94,12716,1996-09-28 00:00:00,62,1800,IV,Estar,7,2100,14,3.5,134.9,21
95,2150,2010-04-25 00:00:00,2,2000,II,Arwim,8,6150,14,2.6,142.8,17.5
96,9409,2000-10-14 00:00:00,63,1000,II,Go-Go,7,7875,23,2.0,60.9,9.05
97,384,2013-05-19 00:00:00,8,1600,III,Celsjusz,12,11550,24,3.4,99.8,22.7
98,9909,1999-07-04 00:00:00,28,1200,,Ekrazyt,6,14000,29,2.7,74.4,4.9
99,4137,2007-06-23 00:00:00,17,1800,III,Nikar,6,5600,23,3.2,115.0,2.57
100,8412,2001-08-31 00:00:00,45,1200,IV,Sainte Polonia,9,4375,,3.5,74.7,4.25
101,12915,1996-11-23 00:00:00,88,1300,IV,Aksamit,7,2275,5,3.5,85.4,1.5
102,11572,1997-06-07 00:00:00,18,2000,II,Mick,8,4900,26,2.7,127.4,1.9
103,2244,2010-06-11 00:00:00,15,2200,I,Charro,6,9800,32,2.3,145.0,9.8
104,8962,2000-05-28 00:00:00,12,1800,,Elk,6,12250,25,2.0,129.5,9.15
105,1771,2011-07-17 00:00:00,24,1800,,Vly Kossack,5,18450,25,3.4,127.5,5.1
106,2417,2010-09-04 00:00:00,35,1200,II,Hortensja,6,9625,17,3.0,76.3,9.8
107,11274,1998-11-28 00:00:00,83,1200,II,Wheel of Fortune,7,5250,,3.5,76.7,3.65
108,12526,1996-07-28 00:00:00,38,1800,I,Dzięcioł,8,4025,29,2.0,128.8,2.3
109,5513,2005-11-06 00:00:00,63,1600,II,Erydana,6,4760,12,2.8,100.3,8.2
110,7913,2002-11-24 00:00:00,79,1600,III,Martynka,7,4760,6,3.5,120.6,2.9
111,12635,1996-09-04 00:00:00,51,1300,II,Mick,7,3850,22,2.7,83.3,2.05
112,2392,2010-08-22 00:00:00,33,2000,,Dostatok,8,45100,30,2.7,137.6,7.3
113,6526,2003-05-11 00:00:00,5,1600,III,Eramir El Sol,7,4760,17,3.5,117.1,6.6
114,11060,1998-09-23 00:00:00,57,1800,I,Garbor,7,4725,14,3.5,131.6,3.1
115,16563,2018-09-23 00:00:00,39,1600,IV,Gared,7,10500,13,2.8,102.3,
116,14024,2014-08-31 00:00:00,32,1400,IV,Agra,8,9800,22,3.1,88.4,48.5
117,1196,2012-09-08 00:00:00,38,2000,II,Addis,7,8200,18,3.5,143.8,24.8
118,13346,1995-06-10 00:00:00,21,1300,II,Lubeka,7,3675,23,2.0,82.0,21.85
119,13343,1995-06-07 00:00:00,20,1600,II,Eblis,7,3325,24,2.7,115.0,1.55
120,10772,1998-06-27 00:00:00,22,1000,,Safarina,8,12075,21,3.5,62.5,3.8
121,7737,2002-10-05 00:00:00,58,1400,I,Lobivia,8,8500,10,3.5,87.6,28.15
122,9546,2000-11-25 00:00:00,79,1000,II,Czereda,9,7875,6,3.5,62.2,13.8
123,7616,2002-08-31 00:00:00,43,2000,,Millennium,8,13600,28,3.5,143.4,3.2
124,7721,2002-09-29 00:00:00,56,2600,,Caitano,10,238000,15,3.5,165.0,4.55
125,831,2013-11-10 00:00:00,52,1300,II,Sopran Gigli,7,16625,8,4.2,85.9,10
126,9015,2000-06-14 00:00:00,17,1400,III,Neustria,6,5250,25,2.7,88.5,4.75
127,1722,2011-06-19 00:00:00,18,2200,,Iwonicz,7,21000,20,2.6,135.2,28.1
128,8125,2001-05-26 00:00:00,11,2000,II,Kombinacja,6,8225,,2.7,127.6,4.2
129,9088,2000-07-15 00:00:00,26,1800,III,Nutella,9,4610,16,2.7,132.4,4.3
130,12528,1996-07-31 00:00:00,39,1600,II,Mero Ibn Gadir,9,3325,24,3.5,117.6,1.65
131,5984,2004-08-01 00:00:00,36,2400,,Królowa Śniegu,9,34680,26,2.9,156.8,1
132,6850,2003-10-11 00:00:00,58,2000,III,Agat,6,4760,15,3.5,146.7,3.2
133,10408,1999-11-28 00:00:00,95,1600,IV,Orin,9,2940,5,5.0,124.8,7.25
134,16423,2018-08-11 00:00:00,26,1200,IV,Diego,9,10500,20,3.6,76.0,
135,11888,1997-09-24 00:00:00,59,1600,II,Hias,7,3675,13,2.7,118.0,5.05
136,393,2013-05-25 00:00:00,9,2000,III,Dżulietta,12,11550,13,4.2,129.8,5.5
137,12696,1996-09-22 00:00:00,59,1000,II,Demoniczny,7,3850,14,2.7,62.6,2.1
138,9141,2000-07-29 00:00:00,32,1600,II,Araratas,5,5600,19,3.5,124.6,8
139,9391,2000-10-08 00:00:00,61,1800,IV,Czedar,7,3850,17,2.7,113.5,4.45
140,14343,2015-05-02 00:00:00,4,2000,III,Baritone,9,12250,,3.5,126.3,
141,16055,2017-10-29 00:00:00,48,1200,II,Ragane,7,15750,8,6.0,82.4,
142,2288,2010-06-27 00:00:00,21,1300,III,Niespokojna,12,6125,22,2.8,81.9,7
143,418,2013-06-02 00:00:00,12,2200,,koń,6,7350,19,4.6,180.0,6.9
144,7703,2002-09-25 00:00:00,54,1600,III,Torquay,7,5440,11,3.5,100.4,4
145,12280,1996-05-08 00:00:00,5,1600,II,Only,7,3675,21,2.7,102.5,1.6
146,9964,1999-08-01 00:00:00,37,1800,II,Alagos,4,4488,25,2.0,134.2,3.5
147,14923,2016-04-17 00:00:00,1,1600,III,Emossa,9,8400,,3.6,112.8,27.8
148,12744,1996-10-05 00:00:00,65,1300,III,Marena,7,3150,19,2.7,82.3,1.4
149,11448,1997-04-12 00:00:00,2,1400,III,Riad El Washkan,7,2975,3,3.5,105.0,9.7
150,10329,1999-11-03 00:00:00,84,1000,II,Driffield,6,6475,9,2.7,61.7,4.85
151,2598,2010-11-06 00:00:00,59,1600,III,Kairos,5,6125,,3.8,106.7,6.7
152,1679,2011-06-04 00:00:00,13,1600,III,Nordica,7,6825,22,1.8,99.7,17.7
153,1697,2011-06-11 00:00:00,15,2000,II,Gagra z Reguła,10,8200,21,1.8,146.4,5.2
154,379,2013-05-18 00:00:00,7,1800,II,Dhobiani Al Mels,6,12600,25,3.1,127.1,4.5
155,6892,2003-10-19 00:00:00,62,1000,II,Livio,7,7990,11,3.5,62.6,12.6
156,13564,1995-08-19 00:00:00,50,1800,III,Zgaduj,8,2625,32,2.7,128.0,6.95
157,1317,2012-11-03 00:00:00,54,1400,II,Easy Go,7,8750,8,3.8,88.3,14.3
158,14725,2015-09-12 00:00:00,35,3000,,Wameria,5,27200,,3.5,222.5,13.2
159,4068,2007-05-20 00:00:00,8,1200,III,Sabil,7,5600,,2.7,72.6,2.28
160,11262,1998-11-22 00:00:00,81,1000,II,Kosmodrama,6,5600,,3.5,65.2,17.95
161,6752,2003-09-14 00:00:00,47,2800,,Modesto,6,17000,18,3.9,193.7,2.4
162,10807,1998-07-05 00:00:00,26,1600,II,Emzyt,6,4025,16,3.5,119.8,3.55
163,207,2014-07-05 00:00:00,20,1200,II,Kandagar,6,16625,25,3.1,74.3,13.1
164,11299,1998-08-06 00:00:00,86,1000,II,Barbiton,5,5600,,3.5,64.8,26.75
165,15712,2017-06-24 00:00:00,16,1200,III,Shalkar,6,12250,22,3.8,75.9,
166,8108,2001-05-20 00:00:00,10,1400,III,Valmiera,9,5950,,3.5,88.0,4.85
167,11662,1997-07-15 00:00:00,29,1000,II,Turbia,5,5250,22,3.5,61.7,1.4
168,2153,2010-04-25 00:00:00,2,1600,III,Irydyna,7,6125,14,2.6,100.7,27.1
169,4417,2007-11-11 00:00:00,51,1800,III,Dąb,6,5600,,3.9,119.0,7.43
170,4777,2006-11-05 00:00:00,24,1600,IV,Dargoleza,9,3060,2,5.1,110.2,
171,175,2014-06-21 00:00:00,16,1200,III,Runny,6,11550,17,3.2,75.9,7.8
172,16474,2018-08-26 00:00:00,31,1800,II,Polski Lord,7,15750,14,4.1,117.8,
173,3215,2009-10-25 00:00:00,52,1600,III,Bello Secondo,14,6475,10,4.5,105.1,12.4
174,6636,2003-06-22 00:00:00,17,1800,I,Shanokk,7,6800,14,4.0,130.7,5.2
175,3748,2008-10-25 00:00:00,35,1200,IV,Taganana,7,4550,7,3.5,75.5,2.6
176,11772,1997-08-20 00:00:00,44,1000,II,Santa,8,5250,25,2.7,62.6,1.9
177,9987,1999-08-08 00:00:00,40,1200,IV,Toina,11,3220,27,2.7,75.0,41.9
178,4313,2007-09-29 00:00:00,38,1300,II,Salicylana,6,8225,19,3.2,81.6,1.82
179,12820,1996-10-24 00:00:00,75,1600,II,Symfonia,7,3675,8,3.5,104.0,3
180,4823,2006-11-27 00:00:00,29,2000,,Pasima,7,8840,5,3.9,148.9,
181,752,2013-10-13 00:00:00,44,2000,IV,Amoreena,7,9800,14,3.6,130.2,21.9
182,16175,2018-05-06 00:00:00,5,2000,I,Cape Ducato,7,18550,19,3.2,124.4,
183,11035,1998-09-16 00:00:00,54,1600,,Tender,5,10500,15,3.5,103.9,2.5
184,11803,1997-08-30 00:00:00,48,1600,II,Pluto,5,3675,22,2.7,120.0,1.75
185,3817,2008-11-22 00:00:00,43,2400,,Zbroja Fata,10,43750,,3.8,182.6,19.4
186,11248,1998-11-18 00:00:00,79,1000,II,Smukwa,7,5600,,3.5,66.1,15.85
187,2005,2011-10-16 00:00:00,52,2600,,Intens,12,157500,5,3.1,160.3,4.6
188,11052,1998-09-20 00:00:00,56,1600,II,Sham,6,4025,17,3.5,120.5,10.45
189,13898,1995-08-10 00:00:00,93,1400,III,Sodomit,6,3150,,,90.0,2.35
190,4019,2007-04-29 00:00:00,2,1600,II,Drahma,7,7700,13,2.3,99.9,5.92
191,9053,2000-06-25 00:00:00,22,1600,II,Harmata,7,5600,20,2.7,117.7,12.3
192,5411,2005-10-08 00:00:00,50,1800,IV,Fira,4,2720,18,3.2,131.4,1.1
193,15668,2017-06-10 00:00:00,12,1600,I,Monmurhib Kossack,6,14350,26,3.3,111.3,
194,7684,2002-09-21 00:00:00,52,1800,I,Fuksja,7,6800,16,3.5,133.9,7.55
195,11849,1997-09-13 00:00:00,54,1800,I,Georgia,9,4375,20,3.5,131.3,3.55
196,2495,2010-10-02 00:00:00,46,1600,IV,Jason,6,4375,,3.7,105.3,12.9
197,6573,2003-06-01 00:00:00,11,1800,III,En Ar,7,4760,24,,131.1,41.6
198,10680,1998-05-17 00:00:00,11,1800,II,Medyk,7,4025,19,2.0,128.8,6.45
199,14381,2015-05-17 00:00:00,8,1800,II,Crucis Abbey,7,15750,,3.2,112.0,
200,9278,2000-09-09 00:00:00,48,1600,IV,Jesień Złota,8,3850,21,2.7,100.4,6.7
201,468,2013-06-23 00:00:00,18,1800,III,Amuletti,8,8400,23,3.8,131.0,11
202,8711,2001-11-25 00:00:00,80,1400,IV,Nonet,14,4025,,3.5,105.5,25.65
203,6839,2003-10-05 00:00:00,56,1600,II,Zahir,6,5610,11,3.5,119.8,11.4
204,44,2014-04-26 00:00:00,1,1600,III,Cepton,11,8400,13,4.4,116.3,26
205,16548,2018-09-22 00:00:00,38,1200,III,Pipasol,8,12250,16,3.0,73.4,
206,12795,1996-10-19 00:00:00,72,1400,,Dżiuseppa,6,15400,11,3.5,92.5,1.95
207,7575,2002-08-14 00:00:00,38,1300,,Donatesso,6,20400,19,3.5,82.1,17.7
208,12890,1996-11-16 00:00:00,85,1400,III,Erotomanka,7,2625,6,3.5,103.6,4.7
209,12010,1997-10-29 00:00:00,74,1600,III,Elcanta,7,2975,1,2.7,118.2,1.25
210,5120,2005-06-26 00:00:00,13,1600,II,Exclusive,9,3570,22,3.0,112.3,4
211,2000,2011-10-16 00:00:00,52,1400,III,Hope Dream,9,6825,5,3.1,87.0,12.8
212,1036,2012-06-23 00:00:00,20,1800,II,Furiant,6,8200,24,2.9,127.8,8.3
213,13405,1995-06-28 00:00:00,29,1200,III,Cichy Bór,6,3150,22,2.7,75.5,1.25
214,9924,1999-07-17 00:00:00,30,1600,II,Baja,10,4620,24,2.7,115.4,2.35
215,9989,1999-08-08 00:00:00,40,2000,,Delano,5,28000,27,2.7,122.9,10.15
216,3654,2008-09-14 00:00:00,24,2000,III,Proxima,7,6125,7,3.7,128.9,4.1
217,2802,2009-04-19 00:00:00,1,1800,III,Nasch,6,5535,10,3.4,126.2,3
218,11894,1997-09-27 00:00:00,60,1600,IV,Norton,9,2275,12,2.7,116.1,6.85
219,16062,2017-10-29 00:00:00,48,1600,II,Bellerofont,7,15750,8,6.0,116.3,
220,4627,2006-09-02 00:00:00,5,1000,II,Darling Horse,7,5100,23,3.5,62.1,
221,14636,2015-08-16 00:00:00,28,1300,,Cockney Blue,5,36750,,3.2,82.1,15.4
222,11125,1998-10-11 00:00:00,65,2600,,Arctic,9,105000,11,3.5,176.4,3.35
223,11239,1998-11-15 00:00:00,78,1200,I,Delator,6,6125,1,3.5,75.9,2.3
224,8428,2001-09-05 00:00:00,47,1600,IV,Emitent,6,4025,18,3.5,117.6,11.55
225,1182,2012-09-02 00:00:00,37,1600,IV,Belmondina,14,5250,23,3.2,101.1,14.9
226,3824,2008-11-23 00:00:00,44,1200,II,Oregonia,10,8225,,3.9,76.6,4.1
227,11622,1997-06-28 00:00:00,24,1800,II,Gektor,11,3675,28,2.7,125.9,4.8
228,12393,1996-06-19 00:00:00,21,1600,II,Fraskata,8,3325,19,3.5,119.0,1.7
229,2866,2009-05-23 00:00:00,9,1400,III,Zawrat,8,6475,14,4.0,90.3,4.6
230,951,2012-05-19 00:00:00,10,1800,II,Master Bars,7,8200,19,,132.2,20.3
231,11167,1998-10-24 00:00:00,70,1300,I,Karmel,6,6475,18,2.7,81.9,18.1
232,8576,2001-10-14 00:00:00,64,1600,I,Kismet Al Mansour,12,7350,,3.5,114.3,7.3
233,10712,1998-05-31 00:00:00,15,1600,I,Milan,4,4590,31,2.0,113.6,16
234,15558,2017-04-29 00:00:00,2,1400,II,Twilight,6,10150,7,4.7,101.1,
235,8968,2000-05-28 00:00:00,12,1200,III,Sunny Polonia,6,5250,25,2.0,74.5,48.25
236,5030,2005-05-22 00:00:00,3,1600,,Dżesmin,7,23800,22,2.9,98.0,1.8
237,1848,2011-08-20 00:00:00,33,1300,II,Better Than All,7,11200,19,3.4,82.5,5.4
238,8971,2000-06-03 00:00:00,13,1800,II,Dorian,8,7350,27,2.0,111.3,20.1
239,8149,2001-06-03 00:00:00,14,1800,II,Etyk,7,5250,,3.5,130.1,30.55
240,11495,1997-05-04 00:00:00,9,1400,II,Jak Najlepsza,7,4900,16,2.0,87.8,1.7
241,8236,2001-06-30 00:00:00,24,1800,,Dragun,7,15750,,2.7,127.0,5.8
242,8171,2001-06-10 00:00:00,16,2000,I,Oleg,6,7350,,2.7,146.9,14.3
243,4848,2006-08-03 00:00:00,32,1000,II,Sabil,9,5100,3,3.9,62.5,5.58
244,16691,2018-11-10 00:00:00,51,1200,II,Interview,6,15750,6,3.4,76.5,
245,7628,2002-09-01 00:00:00,44,2000,III,Mieszko,6,4760,21,2.0,145.8,7.95
246,11168,1998-10-24 00:00:00,70,1600,III,Bacchetta,6,3850,18,2.7,102.5,43.45
247,9231,2000-08-23 00:00:00,43,1800,I,Eranta,6,6650,21,3.5,131.9,21
248,2255,2010-06-12 00:00:00,16,1800,III,Muszelka,7,6125,29,2.3,113.8,24.3
249,454,2013-06-16 00:00:00,16,2200,,Pillar,9,78750,25,2.6,135.1,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...
13142,410,2013-06-01 00:00:00,11,2000,,koń,6,7350,20,4.8,170.5,5.1
13143,14028,2014-09-13 00:00:00,34,2800,,Test,7,11375,25,1.8,186.5,33.3
13144,3240,2009-11-07 00:00:00,55,1400,I,Ulsan,7,10150,4,4.0,89.6,23.4
13145,16527,2018-09-09 00:00:00,35,3000,,Bandolero,10,26250,20,3.3,216.6,
13146,13688,1995-09-27 00:00:00,66,1400,IV,Aksamit,7,2275,13,3.5,91.0,6.1
13147,6754,2003-09-14 00:00:00,47,1200,II,Semilla,5,7990,18,3.5,75.5,7.4
13148,165,2014-06-15 00:00:00,15,1800,II,Omar,8,12250,14,3.4,129.2,12.2
13149,16042,2017-10-22 00:00:00,46,1800,I,Sweet Dream,8,14350,9,5.0,138.2,
13150,6187,2004-10-02 00:00:00,61,1600,IV,Kostek,6,3060,16,3.1,101.3,1.9
13151,16638,2018-10-21 00:00:00,46,2000,III,Vrom Kossack,8,8750,13,3.3,147.6,
13152,10168,1999-09-25 00:00:00,63,1600,III,Skulica,7,4410,23,3.5,103.0,3.65
13153,6717,2003-07-23 00:00:00,26,1800,IV,Dimencii,7,3740,27,3.5,133.1,3.4
13154,2186,2010-05-15 00:00:00,8,1800,III,El Weiron,8,5535,12,3.9,129.0,6.7
13155,1969,2011-10-08 00:00:00,48,3000,,Jam Taki,7,9450,10,1.7,205.1,17.7
13156,7664,2002-09-14 00:00:00,49,1800,I,Fidelity,7,6800,13,3.5,135.6,11
13157,11809,1997-08-31 00:00:00,49,1600,II,Fordanser,7,3675,25,2.7,118.9,1.5
13158,15951,2017-09-24 00:00:00,38,2600,,Bush Brave,5,220500,14,4.4,174.0,
13159,4836,2006-11-26 00:00:00,30,1000,II,Sulina,10,5100,8,4.0,63.0,5.76
13160,6710,2003-07-20 00:00:00,25,1800,I,Diament,7,6800,26,2.0,130.6,13.4
13161,490,2013-07-06 00:00:00,21,1800,II,Nain,9,12600,24,3.0,128.0,7.8
13162,13782,1995-10-25 00:00:00,78,1600,I,Weimar,7,4025,12,2.7,117.0,1.5
13163,11859,1997-09-14 00:00:00,55,1600,III,Lituania,7,3675,17,3.5,101.7,1.35
13164,1161,2012-08-25 00:00:00,34,2000,II,Lucky Peter,5,8750,20,3.4,128.1,4.4
13165,13320,1995-05-31 00:00:00,17,2000,II,Eddery,7,3675,27,2.0,127.0,15.95
13166,11459,1997-04-19 00:00:00,4,1600,III,Neris,5,3675,4,3.5,105.8,5.9

The final data frame is presented and exported to the csv file.

In [82]:
results_df.head(7)

,id_race,date,day,distance,category,winner,number_of_horses,price,temperature,track,time,bet
0,3144,2009-09-27 00:00:00,44,1600,IV,Salinka,7,4900.0,22,2.8,99.4,6.60
1,5084,2005-06-12 00:00:00,9,1600,II,Ghazallah,7,3570.0,16,2.8,111.4,1.80
2,213,2014-07-06 00:00:00,21,3800,NaN,Persei,6,17500.0,28,1.8,253.1,13.10
3,4391,2007-11-03 00:00:00,48,1600,III,Defa,6,5600.0,6,3.5,102.5,7.12
4,11883,1997-09-21 00:00:00,58,1600,IV,Aksamit,7,2625.0,16,2.7,102.4,5.50
5,7126,2003-08-02 00:00:00,30,1400,NaN,Dandolo,10,54250.0,27,3.5,86.7,7.80
6,8446,2001-09-09 00:00:00,49,1600,IV,Mystery,6,4312.0,,3.5,104.2,11.65

### Export the dataframe results_DF to csv file:

In [ ]:
results_df.to_csv(r'.\horses_data\results_DF.csv', encoding="utf-8")

### Import the dataframe results_DF from csv file:

In [79]:
results_DF = pd.read_csv(r'.\horses_data\results_DF.csv',encoding="utf-8")

When exporting and importing the data frame the duplicate columns form, which can be deleted by:

In [81]:
results_DF = results_DF.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1)

The final results_DF data frame includes features:
- `id_race`: the dedicated number to each race during the race day
- `date`: the day of the race - day/month/year
- `day`: the number of the race of the season (total number of races per season differs from season to season)
- `distance`: the distance of the race in meters
- `category`: the category of the race based on horses categories at that time - in order from the best: A, B, I, II, III, IV 
- `winner`: the winning horse
- `number_of_horses`: the overall number of horses in the race
- `price`: the price for the winning horse, do not mistake with the bet on the horse
- `temperature`: the temperature during the race in Celsius degrees
- `track`: the track score from 0 to 5 for the ground elasticity - hard (0.1-1.5) - light (1.6-2.5) - slightly elastic (2.6-3.2) - flexible (3.3-4) - very flexible (4.1-5) - heavy (over 5). 
- `time`: the total race duration time for the winning horse
- `bet`: the price of the winning bet

---

## Races data frame

The Races Data Frame will contain information about all the races from the Results Data Frame with detailed information about the standings in each of them.

The results are collected from 'https://koniewyscigowe.pl/wyscig'.

### Create the Races Data Frame
With the available information we build the third data frame for races.

In [86]:
# Races dataframe:
races_df = pd.DataFrame(columns = ['id_race', 'place', 'lengths', 'horse', 'age', 'jockey', 'weight', 'trainer', 'award'] )
                      
races_df

Empty DataFrame
Columns: [id_race, place, lengths, horse, age, jockey, weight, trainer, award]
Index: []

The next step will be to explore one of the link. We choose randomly the id 2576 from the race list collected in Results Data Frame:

In [91]:
r = pd.read_html('https://koniewyscigowe.pl/wyscig?w='+'2576')

That is once again the link we explored in Results Data Frame, but this time we want to look at the second table with all the results for the race:

In [92]:
r[1]

,Unnamed: 0,odl.,koń,wiek,jeździec,waga,trener,wygrana
0,1,NaN,San-Miego,11,dż. S. Wasiutow,62,M. Malinowski,2 100 zł
1,2,1¼,Pola,4,dż. E. Zahariev,58,E. Zahariev,1 155 zł
2,3,2,Laazim,5,dż. V. Popov,62,K. Zawiliński,630 zł
3,4,1½,Falster,4,dż. P. Piątkowski,59,M. Janikowski,315 zł
4,5,¾,Frou-Frou,5,dż. A. Turgaev,62,M. Łojek,105 zł
5,6,5,Betola,4,k. dż. L. Reznikova-Wróblewska,56,M. Janikowski,0 zł
6,7,łeb,Ma Albigowa,4,dż. A. Reznikov,57,A. Nieora-Tchkuaseli,0 zł
7,8,2,Katar,4,pr. dż. M. Březina,57,M. Janikowski,0 zł
8,9,19,Eh Hago,4,dż. R. G.-Panczew,59,M. Malinowski,0 zł

We have 9 horses in total and 8 columns. The columns have names in Polish.

In [93]:
len(r[1])

9

In [94]:
len(r[1].columns)

8

The horse on the second position is 'Pola':

In [95]:
r[1].iloc[1][2]

'Pola'

### Filling the Races Data Frame
We prepare the script to scrap the date from that table and save it to our data frame. The process is pretty easy, we only want to make change in the award column as the symbol '\xa0' needs to be deleted.

In some of the races (to be exact in 166 races) there is a table in different format for some reason. Maybe there was a person who had his/hers own vision, and created a different table. The data in both examples of the table is almost the same, the second version lack information about the lengths on the finishing line and about the weights of the load. The versions differ in the column number and for that reason in the script this fact is acknowledged.

The loop is again timed to show how long it takes to process it and the progress bar is displayed for the user.

In [ ]:
%%time
import re

l = 0
wr = 0

it = 0
size = len(race)

for i in race:
    print(i)
    r = pd.read_html('https://koniewyscigowe.pl/wyscig?w='+str(i))
    s = r[1]
    print(len(r[1].columns))
    
    if len(r[1].columns) == 8:
    
        for j in range(0,len(r[1])):
            race_place = r[1].iloc[j][0]
            race_lens = r[1].iloc[j][1]
            race_horse = r[1].iloc[j][2]
            race_age = r[1].iloc[j][3]
            race_joc = r[1].iloc[j][4]
            race_weight = r[1].iloc[j][5]
            race_train = r[1].iloc[j][6]
            race_award = r[1].iloc[j][7].replace('\xa0','')

            races_df.at[l,'id_race'] = i
            if race_place:
                races_df.at[l,'place'] = race_place
            if race_lens:
                races_df.at[l,'lengths'] = race_lens
            if race_horse:
                races_df.at[l,'horse'] = race_horse
            if race_age:
                races_df.at[l,'age'] = race_age
            if race_joc:
                races_df.at[l,'jockey'] = race_joc
            if race_weight:
                races_df.at[l,'weight'] = race_weight
            if race_train:
                races_df.at[l,'trainer'] = race_train
            if race_award:
                races_df.at[l,'award'] = race_award

            l = l + 1
            #print(l)

    
    elif len(r[1].columns) == 7:
    
        for j in range(1,len(r[1])):
            race_place = r[1].iloc[j][0]
            race_horse = r[1].iloc[j][2]
            race_age = r[1].iloc[j][3]
            race_joc = r[1].iloc[j][4]
            race_train = r[1].iloc[j][5]
            race_award = r[1].iloc[j][6].replace('\xa0','')

            races_df.at[l,'id_race'] = i
            if race_place:
                races_df.at[l,'place'] = race_place
            if race_horse:
                races_df.at[l,'horse'] = race_horse
            if race_age:
                races_df.at[l,'age'] = race_age
            if race_joc:
                races_df.at[l,'jockey'] = race_joc
            if race_train:
                races_df.at[l,'trainer'] = race_train
            if race_award:
                races_df.at[l,'award'] = race_award

            l = l + 1
            #print(l)
            
    else:
        wr += 1
        
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1
        
print('Wrong format tables number: ',wr)

We display the data frame and its length:

In [99]:
races_df.head()

,Unnamed: 0,id_race,place,lengths,horse,age,jockey,weight,trainer,award
0,0,14962,1,NaN,Ss Mothill,5,dż. S. Vasyutov,62,B. Strójwąs,4800zł
1,1,14962,2,2½,Pirat,8,dż. M. Srnec,62,A. Walicki,1920zł
2,2,14962,3,2½,Hasty,4,dż. P. Krowicki,57,M. Kosicki,960zł
3,3,14962,4,2½,Sandor,5,dż. A. Turgaev,62,J. Głowacki,480zł
4,4,14962,5,szyja,Tollee Dust,10,dż. C. Fraisl,62,M. Romanowski,240zł

In [100]:
len(races_df)

99748

### Cleaning the Races Data Frame
The lengths column definitely needs some changes as the quarter and half symbols and polish names do not give as much information.

### Lengths
A horse length, or simply length, is a unit of measurement for the length of a horse from nose to tail, approximately 8 feet (2.4 m). 

Abbreviations:
- Nose - nse - 0.05L
- Short head - sh - 0.1L
- Head - hd - 0.2L
- Short neck - snk - 0.25L
- Neck - nk - 0.3L
- Half a length - 0.5L
- Three-quarters of a length - 0.75L
- One length - 1L
- Distance - dst

It would be easier to convert the column `lengths` to all numeric values.

To see how many different lengths are in the Races Data Frame we count them:

In [101]:
races_df.groupby('lengths').count()

,Unnamed: 0,id_race,place,horse,age,jockey,weight,trainer,award
lengths,,,,,,,,,
---,782,782,779,782,782,782,782,782,782
1,5889,5889,5889,5889,5889,5889,5889,5889,5889
1.0,203,203,203,203,203,203,203,203,203
10,811,811,811,811,811,811,811,811,811
10.0,33,33,33,33,33,33,33,33,33
10¼,11,11,11,11,11,11,11,11,11
10½,17,17,17,17,17,17,17,17,17
10¾,8,8,8,8,8,8,8,8,8
11,594,594,594,594,594,594,594,594,594
11.0,25,25,25,25,25,25,25,25,25
11¼,14,14,14,14,14,14,14,14,14
11½,11,11,11,11,11,11,11,11,11
11¾,9,9,9,9,9,9,9,9,9
12,537,537,537,537,537,537,537,537,537
12.0,20,20,20,20,20,20,20,20,20
12¼,9,9,9,9,9,9,9,9,9
12½,10,10,10,10,10,10,10,10,10
12¾,12,12,12,12,12,12,12,12,12
13,397,397,396,397,397,397,397,397,397
13.0,16,16,16,16,16,16,16,16,16
13¼,7,7,7,7,7,7,7,7,7
13½,6,6,6,6,6,6,6,6,6
13¾,9,9,9,9,9,9,9,9,9
14,368,368,368,368,368,368,368,368,368
14.0,18,18,18,18,18,18,18,18,18
14¼,5,5,5,5,5,5,5,5,5
14½,8,8,8,8,8,8,8,8,8
14¾,10,10,10,10,10,10,10,10,10
15,321,321,318,321,321,321,321,321,321
15.0,20,20,20,20,20,20,20,20,20
15¼,5,5,5,5,5,5,5,5,5
15½,4,4,4,4,4,4,4,4,4
15¾,6,6,6,6,6,6,6,6,6
16,192,192,192,192,192,192,192,192,192
16.0,1,1,1,1,1,1,1,1,1
16¼,5,5,5,5,5,5,5,5,5
16½,5,5,5,5,5,5,5,5,5
16¾,1,1,1,1,1,1,1,1,1
17,149,149,148,149,149,149,149,149,149
17.0,5,5,5,5,5,5,5,5,5
17¼,2,2,2,2,2,2,2,2,2
17½,5,5,5,5,5,5,5,5,5
17¾,4,4,4,4,4,4,4,4,4
18,148,148,145,148,148,148,148,148,148
18.0,1,1,1,1,1,1,1,1,1
18¼,3,3,3,3,3,3,3,3,3
18½,2,2,2,2,2,2,2,2,2
18¾,1,1,1,1,1,1,1,1,1
19,134,134,132,134,134,134,134,134,134
19.0,3,3,3,3,3,3,3,3,3
19¼,4,4,4,4,4,4,4,4,4
19½,4,4,4,4,4,4,4,4,4
19¾,2,2,2,2,2,2,2,2,2
1¼,3127,3127,3126,3127,3127,3127,3127,3127,3127
1½,5734,5734,5733,5734,5734,5734,5733,5734,5734
1¾,2195,2195,2193,2195,2195,2195,2194,2195,2195
2,5734,5734,5734,5734,5734,5734,5734,5734,5734
2.0,198,198,198,198,198,198,198,198,198
20,111,111,110,111,111,111,111,111,111
20.0,3,3,3,3,3,3,3,3,3
20½,2,2,2,2,2,2,2,2,2
20¾,2,2,2,2,2,2,2,2,2
21,61,61,61,61,61,61,61,61,61
21.0,1,1,1,1,1,1,1,1,1
21¼,2,2,2,2,2,2,2,2,2
21½,1,1,1,1,1,1,1,1,1
21¾,4,4,4,4,4,4,4,4,4
22,48,48,48,48,48,48,48,48,48
22.0,4,4,4,4,4,4,4,4,4
22¼,4,4,4,4,4,4,4,4,4
22¾,2,2,2,2,2,2,2,2,2
23,42,42,42,42,42,42,42,42,42
23.0,3,3,3,3,3,3,3,3,3
23¼,3,3,3,3,3,3,3,3,3
23½,4,4,4,4,4,4,4,4,4
24,56,56,56,56,56,56,56,56,56
24.0,1,1,1,1,1,1,1,1,1
24¼,2,2,2,2,2,2,2,2,2
24¾,1,1,1,1,1,1,1,1,1
25,38,38,38,38,38,38,38,38,38
25.0,2,2,2,2,2,2,2,2,2
25¾,2,2,2,2,2,2,2,2,2
26,37,37,37,37,37,37,37,37,37
26.0,2,2,2,2,2,2,2,2,2
26¼,1,1,1,1,1,1,1,1,1
27,38,38,37,38,38,38,38,38,38
27.0,1,1,1,1,1,1,1,1,1
27¾,2,2,2,2,2,2,2,2,2
28,16,16,15,16,16,16,16,16,16
28¼,1,1,1,1,1,1,1,1,1
28¾,1,1,1,1,1,1,1,1,1
29,15,15,15,15,15,15,15,15,15
29¼,1,1,1,1,1,1,1,1,1
29¾,1,1,1,1,1,1,1,1,1
2¼,231,231,231,231,231,231,231,231,231
2½,5197,5197,5195,5197,5197,5197,5197,5197,5197
2¾,190,190,189,190,190,190,190,190,190
3,4272,4272,4271,4272,4272,4272,4272,4272,4272
3.0,151,151,151,151,151,151,151,151,151
31,5,5,5,5,5,5,5,5,5
32,2,2,2,2,2,2,2,2,2
33,2,2,2,2,2,2,2,2,2
33¾,1,1,1,1,1,1,1,1,1
34,4,4,4,4,4,4,4,4,4
34½,1,1,1,1,1,1,1,1,1
35,2,2,2,2,2,2,2,2,2
36¼,1,1,1,1,1,1,1,1,1
36½,1,1,1,1,1,1,1,1,1
36¾,2,2,2,2,2,2,2,2,2
38,2,2,2,2,2,2,2,2,2
38½,1,1,1,1,1,1,1,1,1
39,2,2,2,2,2,2,2,2,2
39¼,1,1,1,1,1,1,1,1,1
3¼,171,171,170,171,171,171,171,171,171
3½,3016,3016,3015,3016,3016,3016,3015,3016,3016
3¾,151,151,151,151,151,151,151,151,151
4,3093,3093,3091,3093,3093,3093,3092,3093,3093
4.0,120,120,120,120,120,120,120,120,120
40,3,3,3,3,3,3,3,3,3
40¾,1,1,1,1,1,1,1,1,1
41,1,1,1,1,1,1,1,1,1
42,1,1,1,1,1,1,1,1,1
42¾,1,1,1,1,1,1,1,1,1
45,4,4,4,4,4,4,4,4,4
48¼,1,1,1,1,1,1,1,1,1
49,2,2,2,2,2,2,2,2,2
4¼,93,93,93,93,93,93,93,93,93
4½,1365,1365,1364,1365,1365,1365,1364,1365,1365
4¾,90,90,89,90,90,90,90,90,90
5,3099,3099,3099,3099,3099,3099,3098,3099,3099
5.0,116,116,116,116,116,116,116,116,116
50,2,2,2,2,2,2,2,2,2
52,1,1,1,1,1,1,1,1,1
52¼,1,1,1,1,1,1,1,1,1
52½,1,1,1,1,1,1,1,1,1
53,5,5,5,5,5,5,5,5,5
53.0,1,1,1,1,1,1,1,1,1
55,1,1,1,1,1,1,1,1,1
57¼,2,2,2,2,2,2,2,2,2
59½,1,1,1,1,1,1,1,1,1
5¼,72,72,72,72,72,72,72,72,72
5½,329,329,329,329,329,329,329,329,329
5¾,50,50,50,50,50,50,50,50,50
6,2396,2396,2395,2396,2396,2396,2395,2396,2396
6.0,99,99,99,99,99,99,99,99,99
63,1,1,1,1,1,1,1,1,1
63.0,1,1,1,1,1,1,1,1,1
65.0,1,1,1,1,1,1,1,1,1
6¼,46,46,46,46,46,46,46,46,46
6½,69,69,69,69,69,69,69,69,69
6¾,48,48,48,48,48,48,48,48,48
7,1763,1763,1763,1763,1763,1763,1762,1763,1763
7.0,76,76,76,76,76,76,76,76,76
70,1,1,1,1,1,1,1,1,1
75.0,1,1,1,1,1,1,1,1,1
77,1,1,1,1,1,1,1,1,1
7¼,35,35,35,35,35,35,35,35,35
7½,36,36,36,36,36,36,36,36,36
7¾,24,24,24,24,24,24,24,24,24
8,1462,1462,1461,1462,1462,1462,1462,1462,1462
8.0,37,37,37,37,37,37,37,37,37
87,1,1,1,1,1,1,1,1,1
8¼,21,21,21,21,21,21,21,21,21
8½,25,25,25,25,25,25,25,25,25
8¾,25,25,25,25,25,25,25,25,25
9,1090,1090,1090,1090,1090,1090,1090,1090,1090
9.0,44,44,44,44,44,44,44,44,44
91½,1,1,1,1,1,1,1,1,1
99,2,2,2,2,2,2,2,2,2
9¼,16,16,16,16,16,16,16,16,16
9½,22,22,20,22,22,22,22,22,22
9¾,15,15,15,15,15,15,15,15,15
daleko,1030,1030,1029,1030,1030,1030,1029,1030,1030
kr. szyja,23,23,23,23,23,23,23,23,23
kr. łeb,2147,2147,2146,2147,2147,2147,2146,2147,2147
nos,905,905,905,905,905,905,905,905,905
szyja,5843,5843,5843,5843,5843,5843,5841,5843,5843
½,5822,5822,5821,5822,5822,5822,5820,5822,5822
¾,4775,4775,4775,4775,4775,4775,4772,4775,4775
łeb,2804,2804,2804,2804,2804,2804,2804,2804,2804

Let's explore one of the lengths data:

In [102]:
races_df['lengths'].iloc[1][0]

'2'

In [103]:
races_df['lengths'].iloc[1][1]

'½'

In [104]:
races_df['lengths'].iloc[1]

'2½'

Instead of the half symbol we simply put 0.5 and change the string into a numeric value:

In [106]:
int(races_df['lengths'].iloc[1][:-1])+0.5

2.5

The symbols and abbreviations are changed into numeric values in the script:

In [ ]:
%%time
it = 0
size = len(races_df)

for i in range (0,len(races_df)):
    #print(i)
    # nan - first horse
    if pd.isnull(races_df['lengths'].iloc[i]):
        races_df['lengths'].iloc[i] = 0
    # max dist
    elif races_df['lengths'].iloc[i] == 'daleko':
        races_df['lengths'].iloc[i] = 99
    # neck
    elif races_df['lengths'].iloc[i] == 'szyja':
        races_df['lengths'].iloc[i] = 0.3
    # short neck
    elif races_df['lengths'].iloc[i] == 'kr. szyja':
        races_df['lengths'].iloc[i] = 0.25
    # head
    elif races_df['lengths'].iloc[i] == 'łeb':
        races_df['lengths'].iloc[i] = 0.2
    # short head
    elif races_df['lengths'].iloc[i] =='kr. łeb':
        races_df['lengths'].iloc[i] = 0.1
    # nose
    elif races_df['lengths'].iloc[i] == 'nos':
        races_df['lengths'].iloc[i] = 0.05
    # halfs
    elif '½' in races_df['lengths'].iloc[i]:
        if races_df['lengths'].iloc[i][:-1]:
            races_df['lengths'].iloc[i] = int(races_df['lengths'].iloc[i][:-1])+0.5
        else: 
            races_df['lengths'].iloc[i] = 0.5
    # quarters
    elif '¾' in races_df['lengths'].iloc[i]:
        if races_df['lengths'].iloc[i][:-1]:
            races_df['lengths'].iloc[i] = int(races_df['lengths'].iloc[i][:-1])+0.75
        else:
            races_df['lengths'].iloc[i] = 0.75
        
    
    # Progress bar
    string = '['
    for k in range(int(it / size * 100)):
        string += '#'
    for k in range(100 - int(it / size * 100)):
        string += '-'
    string += ']'
    string += '{0:.2f}'.format(it / size * 100) + "%"
    print('\r' + string, sep='', end=' ', flush=True)
    it += 1

The final data frame is presented and exported to the csv file.

In [107]:
races_df.head(5)

,Unnamed: 0,id_race,place,lengths,horse,age,jockey,weight,trainer,award
0,0,14962,1,0,Ss Mothill,5,dż. S. Vasyutov,62,B. Strójwąs,4800zł
1,1,14962,2,2.5,Pirat,8,dż. M. Srnec,62,A. Walicki,1920zł
2,2,14962,3,2.5,Hasty,4,dż. P. Krowicki,57,M. Kosicki,960zł
3,3,14962,4,2.5,Sandor,5,dż. A. Turgaev,62,J. Głowacki,480zł
4,4,14962,5,0.3,Tollee Dust,10,dż. C. Fraisl,62,M. Romanowski,240zł

### Export the dataframe races_DF to csv file:

In [108]:
races_df.to_csv(r'.\horses_data\races_DF.csv', encoding="utf-8")

### Import the dataframe races_DF from csv file:

In [109]:
races_df = pd.read_csv(r'.\horses_data\races_DF.csv',encoding="utf-8")

The final races_DF data frame includes features:
- `id_race` : the dedicated number to each race during the race day
- `place` : the number of standing in the race
- `lengths` : the lengths between horses on the finishing line
- `horse` : the name of the horse
- `age` : the age of the horse
- `jockey` : the jockey riding the horse in the race
- `weights` : the weight of the total load (jockey + added weights)
- `trainer` : the trainer of the horse in the season
- `award` : the award for the horse in the race on the final position, based on the total price for that race